* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
/*Movil*/
@media (max-width: 599px) {
  .grid-container {
    width: 100%;
    padding: 5px 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: deepskyblue;
    gap: 5px;
  }
  .grid-container > div {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: rgb(152, 229, 255);
  }
}
/*Tablet*/
@media (min-width: 600px) and (max-width: 899px) {
  .grid-container {
    width: 100%;
    padding: 5px 5px;
    display: grid;
    align-items: center;
     background-color: deepskyblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a a a" "b c c" "b d d" "e e e";
    gap: 5px;
  }
  .grid-container > div {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:  rgb(152, 229, 255);
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }
  .item5 {
    grid-area: e;
  }
}
/*Computadora*/
@media (min-width: 900px) {
  .grid-container {
    width: 100%;
    padding: 5px 5px;
    display: grid;
    align-items: center;
     background-color: deepskyblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a a a" "b c d" "e e e";
    gap: 5px;
  }
  .grid-container > div {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:  rgb(152, 229, 255);
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }
  .item5 {
    grid-area: e;
  }
}
