@import "tailwindcss";
@theme {


  --color-primary: #8b4513;
  --color-secondary: #d2691e;
  --color-accent: #f4a460;

  --spacing-72: 18rem;

  --breakpoint-xxl: 120rem;
}

@layer base {
  body {
    @apply text-gray-900 font-sans;
    background-color: #faf8f3;
  }

  h1,
  h2,
  h3 {
    @apply text-3xl font-bold text-center;
  }

  a {
    @apply hover:underline;
    color: var(--color-primary);
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 text-white rounded-lg transition-colors;
    background-color: var(--color-primary);
  }

  .product-card {
    @apply bg-white shadow-lg rounded-xl p-6 m-5;
  }

  .badge-new {
    @apply uppercase text-2xl p-1 rounded-2xl flex float-right ;
    background-color: var(--color-accent);
    color: var(--color-primary);
  }
}

@layer utilities {
  .text-shadow-soft {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 10px;
  }

  .gradient-earth {
    font-weight: bold;
    font-size: larger;
    color: var(--color-primary);
  }
}
