@import "tailwindcss";

@theme {



  --color-accent: #3B82F6;
  --color-accent-dark: #1E40AF;
  --color-success: #10B981;
  --color-fondo: #F9FAFB ;
  --breakpoint-3xl: 1920px;
}

@layer base {
  body {
    @apply bg-fondo font-sans;
   
  }

  h2,
  h3 {
    @apply text-2xl font-bold text-center;
  }
  h1{
    @apply text-4xl font-bold p-5;
  }
  a {
    @apply text-accent transition-discrete;
  }

  button {
    @apply hover:cursor-pointer;
  }
  img{
    @apply rounded-full;
  }
  p{
    @apply text-gray-500
  }
}

@layer components {
  .profile-card {
    @apply bg-white p-6 rounded-lg transition delay-300 duration-300 flex flex-col  items-center justify-center hover:translate-y-2 shadow-2xl;
  
  }

  .btn-connect {
    @apply bg-accent text-white px-5 py-3 rounded-xl transition delay-200 duration-200 hover:bg-accent-dark scale-105 active:scale-95 ;
  }

  .status-badge {
    @apply bg-success px-3 m-3 text-white opacity-50 uppercase font-semibold text-sm rounded-2xl hover:opacity-100 cursor-pointer;
    
  }
  .info{
    @apply flex flex-row justify-between p-5 gap-3; 
  }
}