* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	 display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(2, 150px);
    grid-gap: 16px;
    padding: 24px;
     grid-template-areas: "a a a c"
                       "a a a c";

	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}
p{
	margin: 200px 0;
}
.contenedor-conciertos {
	 grid-area: a;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row: repeat(2, 150px);
	grid-gap: 16px;
	padding: 24px;
	 grid-template-areas: "q p d"
					   "s h i";
	
}

.card {
	border-radius: 10px;
	height: 300px;
	width: 300px;
	font-weight: bold;
	margin: 10px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}
h3{
	align-self: start;
}
.card .textos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 20px;

}

.banner {
	grid-area: c;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	display: grid;
	background-size: cover;
	background-position: center center;
	align-items: start ;
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	width: 100%;
	height:40px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	align-self: end;
}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}