body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.main {
  display: flex;
  background-color: lightgrey;
  min-height: 80vh; 
}


.container {
  display: flex;
  flex-direction: column;
  flex: 2; 
  gap: 10px;
}


.item.header {
  background-color: gray;
  padding: 10px;
  color: white;
  border: 1px solid white;
}

.container-articles {
  display: flex;
  flex: 1;
  gap: 10px;
}   

.item.article {
  flex: 1;
  background-color: gray;
  color: white;
  text-align: center;
  border: 1px solid white;
   flex-flow: row wrap;

}


.aside {
  display: flex;
  flex: 1;
}

.item.menu {
  background-color: gray;
  flex: 1;
  padding: 10px;
  color: white;
  border: 1px solid white;
}


.footer {
  background-color: gray;
  border: 1px solid white;
    color: white;
  text-align: center;
  padding: 10px;
}
